:root {
  --color-primary: #83ddd2;
  --color-primary-light: #aee6de;
  --color-on-primary: black;

  --color-bg: #1b1e2a;
  --color-bg-light: #303342;
  --color-bg-lighter: #585d6f;
  --color-fg: white;
  --color-fg-dim: #a1a7b3;

  --color-error: #964f58;
  --color-info: #b1ceac;

  --border-radius-box: 20px;
  --border-radius-elem: 10px;

  --font-size: 18px;

  --footer-height: 60px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: var(--footer-height);
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Verdana, sans serif;
  font-size: var(--font-size);
}

.hidden {
  display: none !important;
}

a {
  color: var(--color-fg-dim);
}

input {
  font-size: var(--font-size);

  &[type="text"], &[type="password"], &[type="email"] {
    padding: 9px 12px;
    border: none;
    border-radius: var(--border-radius-elem);
    background-color: var(--color-bg-lighter);
    color: var(--color-fg);
    &:focus {
      outline: var(--color-fg-dim) 1px solid;
    }
  }
  &::placeholder {
    color: var(--color-fg-dim);
  }
}

button, input[type="submit"], .button {
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-radius-elem);
  background-color: var(--color-bg-lighter);
  color: var(--color-fg);
  text-decoration: none;
  
  &:focus {
    outline: var(--color-fg-dim) 2px solid;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-weight: bold;
    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: var(--color-fg) 6px solid;
  margin: 5px;
  rotate: 45deg;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0% {
    border-top-color:    rgba(255, 255, 255, 1);
    border-right-color:  rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-left-color:   rgba(255, 255, 255, 0);
  }
  25% {
    border-top-color:    rgba(255, 255, 255, 0);
    border-right-color:  rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-left-color:   rgba(255, 255, 255, 0);
  }
  50% {
    border-top-color:    rgba(255, 255, 255, 0);
    border-right-color:  rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color:   rgba(255, 255, 255, 0);
  }
  75% {
    border-top-color:    rgba(255, 255, 255, 0);
    border-right-color:  rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-left-color:   rgba(255, 255, 255, 1);
  }
  100% {
    border-top-color:    rgba(255, 255, 255, 1);
    border-right-color:  rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    border-left-color:   rgba(255, 255, 255, 0);
  }
}

.box {
  padding: 16px;
  border-radius: var(--border-radius-box);
  background-color: var(--color-bg-light);
  box-shadow: 6px 16px 32px 0 rgba(0, 0, 0, 0.6);
}

form.box {
  width: 320px;
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 26vh;
  gap: 14px;

  > .msg-box {
    margin-bottom: 20px;
  }

  > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 6px;
    gap: 10px;

    > .loading {
      width: 12px;
      height: 12px;
      border-width: 4px;
      margin-right: auto;
    }
  }
}

.msg-box {
  padding: 12px;
  border-radius: var(--border-radius-elem);
  color: black;

  &.error {
    background-color: var(--color-error);
  }
  &.info {
    background-color: var(--color-info);
  }
}

#forgot-password {
  align-self: flex-end;
  font-size: var(14px);
  margin-top: 20px;
}

.rating > div {
  border-radius: 100%;
  background: center no-repeat;
  background-size: contain;
  &.good    { background-image:url(/static/img/rating/good.svg);    }
  &.bad     { background-image:url(/static/img/rating/bad.svg);     }
  &.better  { background-image:url(/static/img/rating/better.svg);  }
  &.neutral { background-image:url(/static/img/rating/neutral.svg); }

  &:hover { cursor: pointer; }

  &.selected {
    background-color: black !important;
    filter: invert(1);
  }
}

#head-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  box-shadow: 0 30px 30px var(--color-bg);
  z-index: 2;

  > .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    gap: 36px;
  }

  .suggestions {
    font-weight: bold;
    padding: 8px 12px;
    margin-right: -12px;
    border-radius: var(--border-radius-elem);
    &.selected {
      background-color: white;
      color: black;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    > div {
      width: 36px;
      height: 36px;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    > input[type="text"] {
      width: 260px;
      padding-right: 20px;
    }

    > input[type="submit"] {
      width: 48px;
      margin-left: -15px;
      background: var(--color-bg-lighter) url(/static/img/loupe.svg) center no-repeat;
      background-size: contain;
      &.selected {
        background-color: black;
        filter: invert(1);
      }
    }
  }
}

#logout {
  position: fixed;
  top: 16px; right: 16px;
  width: 46px;
  height: 46px;
  padding: 0;
  background: url(/static/img/logout.svg) center no-repeat;
  background-size: contain;
  border-radius: 100%;
  z-index: 2;
  &:hover {
    background-color: var(--color-bg-light);
  }
}

body > .loading {
  position: absolute;
  top: 300px;
  left: 50%;
  translate: -50% 0;
}

#content {
  width: calc(100% - 80px);
  min-height: 200px;
  margin-top: 160px;
  margin-bottom: 80px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.show {
  position: relative;
  width: 280px;
  height: 420px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .title {
    position: relative;
    margin: 0 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  > .year {
    position: relative;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  > .type {
    position: absolute;
    left: 20px; top: 20px;
    font-size: 18px;
    color: var(--color-fg-dim);
  }

  > .img {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: center no-repeat;
    background-size: cover;
  }

  > .rating {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-bg-light);
    transition: all 0.2s;

    > div {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      background-color: var(--color-bg-lighter);
      transition: all 0.2s;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);

      &:not(.selected):hover {
        translate: 0 -5px;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }

  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
    z-index: 1;
    > .rating {
      height: 80px;
    }
  }
}

#content.in { animation: content-in forwards 0.4s; }
@keyframes content-in {
  from { translate: 100vw 0; }
  to   { translate: 0     0; }
}

#content.out { animation: content-out forwards 0.4s; }
@keyframes content-out {
  from { translate: 0      0; }
  to   { translate: -100vw 0; }
}

#msg-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  margin-top: 20vh;

  > h1 {
    margin-top: 0;
  }

  > .button {
    align-self: flex-end;
    margin-top: 40px;
  }
}

#footer {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: var(--footer-height);
  background-color: var(--color-bg-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > a {
    color: var(--color-fg-dim);
    font-size: 13px;
    text-decoration: none;
    margin: 0 20px;
  }
}


@media (max-width: 900px) {
  #head-bar > .box {
    align-self: flex-start;
    border-bottom-left-radius: 0;
    > .search > input[type="text"] {
      width: 186px;
    }
  }
}

@media (max-width: 750px) {

  #head-bar > .box {
    align-self: flex-start;
    border-bottom-left-radius: 0;
    display: grid;
    grid-template-areas:
      "suggestions rating"
      "search      search";

    > .suggestions { grid-area: suggestions }
    > .rating      { grid-area: rating }
    > .search {
      grid-area: search;
      width: 100%;
      > input[type="text"] {
        width: auto;
        min-width: 0;
        flex: 1 1;
      }
    }
  }

  #content {
    margin-top: 240px;
  }

}