:root {
  --color-primary: #83ddd2;
  --color-primary-light: #aee6de;
  --color-on-primary: black;

  --color-bg: #1b1e2a;
  --color-bg-light: #303342;
  --color-bg-lighter: #585d6f;
  --color-fg: white;
  --color-fg-dim: #b9c1d1;

  --color-error: #964f58;
  --color-on-error: white;

  --border-radius-box: 20px;
  --border-radius-elem: 10px;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Verdana, sans serif;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.box {
  padding: 16px;
  border-radius: var(--border-radius-box);
  background-color: var(--color-bg-light);
  box-shadow: 6px 16px 32px 0 rgba(0, 0, 0, 0.6);
}

input {
  &[type="text"], &[type="password"] {
    padding: 9px 12px;
    border: none;
    border-radius: var(--border-radius-elem);
    background-color: var(--color-bg-lighter);
    color: var(--color-fg);
    &:focus {
      outline: var(--color-fg-dim) 1px solid;
    }
  }
  &::placeholder {
    color: var(--color-fg-dim);
  }
}

button, input[type="submit"], .button {
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-radius-elem);
  background-color: var(--color-bg-lighter);
  color: var(--color-fg);
  
  &:focus {
    outline: var(--color-fg-dim) 2px solid;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-weight: bold;
    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}

.error {
  padding: 12px;
  border-radius: var(--border-radius-elem);
  background-color: var(--color-error);
  color: var(--color-on-error);
}