body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

#login {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 14px;

  > .error {
    margin-bottom: 20px;
  }

  > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}