<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Show Suggest</title>
</head>
<body>

  <form id="login" class="box" onsubmit="login()">

    <div class="msg-box hidden"></div>

    <input type="text" name="email" placeholder="Email">
    <input type="password" name="passwd" placeholder="Password">
    <div class="buttons">
      <div class="button" onclick="signup()">Sign Up</div>
      <input type="submit" class="primary" value="Login">
    </div>
  </form>

  <script type="text/javascript">
    
    let loginForm = document.getElementById("login")
    let msgBox = loginForm.getElementsByClassName("msg-box")[0]

    function showMsg(type, msg) {
      msgBox.innerHTML = msg
      msgBox.className = "msg-box " + type
    }

    function post(url, onSuccess) {
      event.preventDefault()
      fetch(url, {
        method: "POST",
        body: new FormData(loginForm)
      })
      .then(resp => {
        switch (resp.status) {
        case 200:
          onSuccess()
          break
        case 400:
          resp.text().then(resp => showMsg("error", resp))
          break
        case 500: case 502:
          showMsg("error", "Sorry something went wrong. Please try again later.")
          break
        }
      })
    }

    function login() {
      post("/login", () => {
        window.location.href = "/"
      })
    }

    function signup() {
      post("/signup", () => {
        showMsg("info", "Registration sent. You should recieve an email with a confirmation link.")
      })
    }

  </script>

</body>
</html>