<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Show Suggest</title>
</head>
<body>

  <div id="msg-page" class="box">
    <h1>{{.Title}}</h1>
    <span>{{.Msg}}</span>
    <a class="button" href="/">Back Home</a>
  </div>

</body>
</html>