{{define "body"}}

  <form class="box" onsubmit="post(this)">

    <div class="msg-box hidden"></div>

    <input type="email" name="email" placeholder="Email">
    <div class="buttons">
      <div class="loading hidden"></div>
      <input type="submit" class="primary" value="Request">
    </div>
  </form>

{{end}}